@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
* 
{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #c0b9a3;

}
.title {
    font-family: Josefin Slab;
    position: relative;
    color: midnightblue;
    font-size: 70px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    
}
.th{
    text-align: left;
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 20px 30px 20px 8px;
    height: 40px;
    width: 700px;
    border:1px solid #333;
}
.table1{

  width: 400px;
  background-color: #333;
}
.subject{
  border:1px solid #333;
    padding:4px 8px;
    background-color: rgb(255, 242, 224);
    font-family: roboto;
    font-size: 30px;
    height: 30px;
  width: 100px;
}
.subject1{
  border:1px solid #333;
  text-align: left;
  width: 100px;
  height: 40px;
  padding: 4px 30px 4px 8px;
  background-color: rgb(223, 134, 102);
}
.objective1{
  border:1px solid #333;
  text-align: left;
  width: 750px;
  padding: 4px 30px 4px 8px;
  background-color: rgb(223, 134, 102);
}
.objective{
  border:1px solid #333;
  padding:4px 8px;
  background-color: rgb(255, 242, 224);
  font-size: 30px;
  height: 30px;
  color: firebrick;
  font-family: 'Lora', serif;
}
.MoreAbout{
  width: 1800px;
  height: fit-content;
  background-color: cornflowerblue;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
  
}
.td{
  border:1px solid #333;
  text-align: left;
  width: 100px;
  height: 40px;
  padding: 4px 30px 4px 8px;
  font-family: roboto;
  font-family: 'Lora', serif;
  background-color: rgb(239, 255, 247);
  color: RED;
  
}
.th1{
  text-align: left;
    background-color: wheat;
    font-family: roboto;
    color: #333;
    padding: 20px 30px 20px 8px;
    height: 40px;
    width: 200px;
    border:1px solid #333;
}
.DRI{
  border:1px solid #333;
  text-align: left;
  width: 100px;
  height: 40px;
  padding: 4px 30px 4px 8px;
  font-family: roboto;
  background-color: rgb(150, 214, 184);
}

.content{
  margin: 10px auto;
  width: 100%;
}
.prev-btn,
.next-btn{
  background-color: white;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 135px;
  padding-bottom: 135px;
  position: absolute;
  top: 630px;
  font-size: 20px;
  cursor: pointer;
  transition: 400ms;
}
.next-btn:hover,
.prev-btn:hover{
  background-color: thistle;
}
.next-btn{
  right: 0px;
}
.navigation-dots{
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  margin-top: 340px;
}
.single-dot{
  background-color: #333;
  height: 16px;
  width: 16px;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
  transition: 400ms;
  margin: 0 8px;
}
.single-dot.active{
  background-color: #eee;
}